<div>
  <h2>Burger List</h2>
      <mat-card class="my-card" *ngFor="let burger of burgers">
        <mat-card-header>
          <mat-card-title> {{burger.name}}</mat-card-title>
        </mat-card-header>
      <img mat-card-image width=300 src="{{burger.image}}">
      <mat-card-content>
    <p>
      {{burger.price}}€
    </p>
  </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="burger/{{ burger.id }}">Details</button>
      </mat-card-actions>
      </mat-card>

</div>