<div *ngIf="burger">
  <mat-card class="my-card">
        <mat-card-header>
            <mat-card-title>
                {{ burger.name }}
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ burger.image }}">
        <mat-card-content>
            <p>Prix: {{ burger.price }}€</p>
            <p>Nutriscore: {{ burger.nutriscore }}</p>
            <p *ngFor="let nutriment of nutriments">
                {{ nutriment.key }}: {{ nutriment.value }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="goBack()">Retour</button>
        </mat-card-actions>
    </mat-card> 
</div>
